.table {
  grid-template-areas:
    ". top ."
    "left . right"
    ". player .";
  @apply w-96 h-96 bg-white rounded-xl m-auto;
  @apply grid grid-cols-3 grid-rows-3;
}

.area--top {
  @apply place-self-center;
  grid-area: top;
}
.area--left {
  @apply place-self-center;
  grid-area: left;
}
.area--right {
  @apply place-self-center;
  grid-area: right;
}
.area--player {
  @apply place-self-center;
  grid-area: player;
}
